
.header {
  max-width: 1200px;
  min-width: 320px;
  display: flex;
  padding-left: 163px;
  padding-top: 46px;
  padding-bottom: 101px;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  &__nav{
    margin-left: 455px;
  }
 }