//*{
//  box-sizing: border-box;
//
.blockfresh{
  max-width: 1500px;
  min-width: 333px;
  position: relative;
  top:-17px;

     &__text {
       max-width: 24%;
       position: absolute;
       top: 323px;
       left:165px;
     }
}
.conteigner__about{
  min-width: 320px;
  max-width: 1500px;
  margin: auto;
  position: relative;
 }

 .about{
  max-width: 508px;
  min-width: 100px;
  width: 34%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 166px;
  bottom: -512px;
  text-align: left;
  margin-top: 15px;

}
 .about__img{
   width: 100%;
   height: auto;
   float: right;

 }