@import "_header";
@import "_main";
@import "elements/elements";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Sans&family=Poppins:wght@200;600&family=Raleway:wght@300&family=Roboto&display=swap');
@import "typography/typography";

body{
  //color: $black;//
  max-width: 1500px;
  min-width: 320px;
  font-family:$f-f;
}